body{
 background-color:#f2f2f2;
 font-family Arial;
}
.box{
 width:300px;
 background:white;
 padding:20px;
 margin:50px auto;
 border-radius:10px;
}
input {
 width:100%;
 margin-bottom:10px;
 padding:5px;
}
button{width:100%;
  padding:8px;
  background-color:#0077b5;
  color:white;
  border:none;
  border-radius:5px;
      }
